{% extends "docmypatient/base.html" %}
{% load static %}
{% block content %}

    <form class ="adding-form" method="POST">
        {% csrf_token %}

        <div class="add-patient-title">
            <h2> Add new patient</h2>
            <p class="form-text">
                Please complete fields below and press 'Submit'
            </p>
        </div>

        <div class="add-item">
        <label for="doctor" class="form-label">Doctor: </label>
            <select id="doctor" class="form-input" name="doctor">
                <option disabled selected value> -- Select a doctor -- </option>
                    {% for doc in doctors %}
                <option value={{ doc.id }}>{{ doc }}</option>
                    {% endfor %}
            </select>
        </div>

        <div class="add-item">
            <label for="first_name" class="form-label">First Name: </label>
            <input type="text" class="form-input" id="first_name" name="first_name" required placeholder="Enter First name(s)">
        </div>

        <div class="add-item">
            <label for="last_name" class="form-label">Last Name: </label>
            <input type="text" class="form-input" id="last_name" name="last_name" required placeholder="Enter Last name">
        </div>

        <div class="add-item">
            <label for="dob" class="form-label">Date of Birth: </label>
            <input id="dob" class="form-input" type="date" name="dob" required placeholder="Enter DOB>
        </div>

        <div class="add-item">
        <label for="sex" class="form-label">Sex: </label>
            <select id="sex" name="sex" class="form-input">
                <option value="Other">Other</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>

        <div class="add-item">
            <label for="address" class="form-label">Address: </label>
            <input type="text" class="form-input" id="address" name="address" required placeholder="Enter address">
        </div>


        <div class="add-item">
            <label for="phone_number" class="form-label">Phone Number: </label>
            <input id="phone_number" class="form-input" type="text" name="phone_number" placeholder="+353">
        </div>

        <div class="add-item">
            <label for="ppsn" class="form-label">PPSN: </label>
            <input id="ppsn" class="form-input" type="text" name="ppsn" required placeholder="Enter PPSN">
        </div>

        <div class="add-item">
            <label for="medical_card_num" class="form-label">Medical Card Number: </label>
            <input id="medical_card_num" class="form-input" type="text" name="medical_card_num" required  placeholder="Enter Medical Car No.">
        </div>

        <div class="add-item">
            <label for="emergency_contact" class="form-label">Emergency Contact: </label>
            <input id="emergency_contact" class="form-input" type="text" name="emergency_contact" required  placeholder="Enter Emergency contact">
        </div>

        <div class="add-item">
            <label for="ec_phone_number" class="form-label">EC Phone Number: </label>
            <input id="ec_phone_number" class="form-input" type="number" name="ec_phone_number" required placeholder="+353">
        </div>

        <div class="add-item">
            <label for="ec_email_address" class="form-label">EC Email Address: </label>
            <input id="ec_email_address" class="form-input" type="text" name="ec_email_address" placeholder="Enter Emergency contact email">
        </div>

        <div class="add-item">
            <button class="adding-form-btn" type="submit"> Submit </button>
        </div>

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

    </form>


{% endblock %}