{% extends "docmypatient/base.html" %}
{% load static %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <input id="" type="text" name="commentData">
        <br>
        <input id="" type="text" name="commentData">
        <br>
        <input id="" type="text" name="commentData">
        <br>
        <input id="" type="text" name="commentData">
        <br>
        <input id="" type="text" name="commentData">
        <br>
        <input id="" type="text" name="commentData">
        <br>
        <input id="" type="text" name="commentData">
        <br>
        <input id="" type="text" name="commentData">
        <br>
        <button type="submit"> Submit </button>
    </form>


{% endblock %}