{% extends "docmypatient/base.html" %}
{% load static %}
{% block content %}

    <form method="POST" action="{% url 'editPatient' patient_id=patient.id %}">
        {% csrf_token %}
        <label for="doctor">Doctor: </label><select id="doctor" name="doctor" required>
                                                <option value={{ patient.patient.doctor.id }}>{{ patient.patient.doctor }}</option>
                                                <option disabled>----------</option>
                                                {% for doc in doctors %}
                                                     <option value={{ doc.id }}>{{ doc }}</option>
                                                {% endfor %}
                                            </select>
        <br>
        <label for="first_name">First Name: </label><input id="first_name" type="text" name="first_name" value="{{ patient.first_name }}" required>
        <br>
        <label for="last_name">Last Name: </label><input id="last_name" type="text" name="last_name" value="{{ patient.last_name }}" required>
        <br>
        <label for="dob">Date of Birth: </label><input id="dob" type="date" name="dob" value="{{ dob }}">
        <br>
        <label for="sex">Sex: </label><select id="sex" name="sex">
                                        <option value={{ patient.sex}}>{{ patient.sex }}</option>
                                        <option disabled>----------</option>
                                        <option value="Other">Other</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
        <br>
        <label for="address">Address: </label><input id="address" type="text" name="address" value="{{ patient.patient.address }}" required>
        <br>
        <label for="phone_number">Phone Number: </label><input id="phone_number" type="text" name="phone_number" value="{{ patient.patient.phone_number }}" >
        <br>
        <label for="ppsn">PPSN: </label><input id="ppsn" type="text" name="ppsn"  value="{{ patient.patient.ppsn }}" required>
        <br>
        <label for="medical_card_num">Medical Card Number: </label><input id="medical_card_num" type="text" name="medical_card_num" value="{{ patient.patient.medical_card_num }}" >
        <br>
        <label for="emergency_contact">Emergency Contact: </label><input id="emergency_contact" type="text" name="emergency_contact" value="{{ patient.patient.emergency_contact }}" >
        <br>
        <label for="ec_phone_number">EC Phone Number: </label><input id="ec_phone_number" type="number" name="ec_phone_number" value="{{ patient.patient.ec_phone_number }}" >
        <br>
        <label for="ec_email_address">EC Email Address: </label><input id="ec_email_address" type="text" name="ec_email_address" value="{{ patient.patient.ec_email_address }}" >
        <br>
        <button type="submit"> Submit </button>
        <br>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </form>


    <form method="POST" action="{% url 'deletePatient' patient_id=patient.id %}">
        {% csrf_token %}
        <button type="submit">Delete Patient</button>
    </form>


{% endblock %}