{% extends "docmypatient/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class ="col-md-12">
            <div class="container-fluid">
                <form method="POST" action="{% url 'addPatient' %}">
				    {% csrf_token %}
				    <button type="submit">Add Patient</button>
			    </form>
                <h3>Patient List</h3>
                {% for user in users %}
                    <article class="media content-section">
                      <div class="media-body">
                        <div class="article-metadata">
                            <a href="{% url 'patientPage' patient_id=user.id %}">{{ user.last_name }}</a>
                            <p>{{ user.first_name }}</p>
                            <p>{{ user.patient.doctor }}</p>
                        </div>
                      </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
