{% extends "docmypatient/base.html" %}
{% load static %}
{% block content %}

<div class="col-md-6">
    <div class="container-fluid" id="rightInfo">
        <h3>Information</h3>
        <h4>Last Name: {{ patient.last_name }}</h4>
		<h4>First Name: {{ patient.first_name }}</h4>
        <h4>Sex: {{ patient.sex }}</h4>
        <h4>Address: {{ patient.patient.address }}</h4>
        <h4>PPSN: {{ patient.patient.ppsn }}</h4>
        <h4>Medical Card Number: {{ patient.patient.medical_card_num }}</h4>
		<h4>Emergency Contact: {{ patient.patient.emergency_contact }}</h4>
        <form method="POST" action="{% url 'editPatientPage' patient_id=patient.id %}">
            {% csrf_token %}
            <button type="submit">Edit Patient</button>
        </form>
    </div>
</div>

<form method="POST" action="{% url 'addPatientComment' patient_id=patient.id %}">
    {% csrf_token %}
    <input id="commentData" type="text" name="commentData">
    <button type="submit"> Submit </button>
</form>

{% for comment in comments %}
<article class="media content-section">
  <div class="media-body">
	<div class="article-metadata">
		<p>{{ comment }}</p>
		<p>{{ comment.staff_name }}</p>
		<p>{{ comment.date_posted }}</p>
		<p>{{ comment.opened }}</p>
		{% if comment.staff_name.profile.is_nurse %}
			<p>THIS WAS POSTED BY A NURSE</p>
		{% elif comment.staff_name.profile.is_doctor %}
			<p>THIS WAS POSTED BY A DOCTOR</p>
		{% endif %}
		{% if not comment.opened %}
			<form method="POST" action="{% url 'openPatientComment' patient_id=patient.id comment_id=comment.id %}">
				{% csrf_token %}
				<button type="submit">Mark as Open</button>
			</form>
		{% endif %}

		<form method="POST" action="{% url 'deletePatientComment' patient_id=patient.id comment_id=comment.id %}">
		    {% csrf_token %}
		    <button type="submit">DELETE</button>
		</form>
	</div>
  </div>
</article>
{% endfor %}
{% endblock %}
