{% extends "docmypatient/base.html" %}
{% load static %}
{% block content %}

<div class="col-md-12">
    <div class="container-fluid" id="rightInfo">

		<div class="patient-detail-title">
		<p>Patient details</p>
		</div>

		<table id="patientTable">
			<tr>
				<td>Last Name</td>
				<td>{{ patient.last_name }}</td>
			</tr>
			<tr>
				<td>First Name</td>
				<td>{{ patient.first_name }}</td>
			</tr>
			<tr>
				<td>Sex</td>
				<td>{{ patient.sex }}</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>{{ patient.patient.address }}</td>
			</tr>
				<tr>
				<td>PPSN</td>
				<td>{{ patient.patient.ppsn }}</td>
			</tr>
				<tr>
				<td>Medical Card Number</td>
				<td>{{ patient.patient.medical_card_num }}</td>
			</tr>
				<tr>
				<td>Emergency Contact</td>
				<td>{{ patient.patient.emergency_contact }}</td>
			</tr>
		</table>

        <form  class="btn-form" method="POST" action="{% url 'editPatientPage' patient_id=patient.id %}">
            {% csrf_token %}
            <button id="edit-btn" type="submit">Edit Patient</button>
        </form>

		<form method="POST" id="makeComment" action="{% url 'addPatientComment' patient_id=patient.id %}">
			{% csrf_token %}
			<label id="comment-title" for="commentData">Comment:</label><br>
			<input maxlength="600" id="commentData" type="text" name="commentData" placeholder="Enter your comment (max 600)."><br>
			<label id="for-patient" for="forPatient">* Click to update next of kin</label>
			<input type="checkbox" id="forPatient" name="forPatient" value="True">
			<br>
			<button id="comment-sub-btn" type="submit"> Submit </button><br>
		</form>

		<form method="POST" enctype="multipart/form-data" action="{% url 'uploadPatientFile' patient_id=patient.id %}">
			{% csrf_token %}
			<input type="file" name="document">
			<button class="sub-btn" type="submit"> Upload </button>
		</form>
    </div>
</div>

<br>
<h4>File Upload:</h4>
{% for file in files %}
<article class="media content-section">
  <div class="media-body">
	<div class="article-metadata">
		<h5><b>File Name:</b></h5>
		<h6 class="patient-text">{{ file.file_title }}</h6>
		<br>

		<h5><b>Staff Member:</b></h5>
		<h6 class="patient-text">{{ file.staff_name }}</h6>
		<br>

		<h5><b>Upload Date:</b></h5>
		<h6 class="patient-text">{{ file.date_posted }}</h6>
		<br>

		<h6><b>Doctor/Nurse?</b></h6>

		{% if file.staff_name.profile.is_nurse %}
			<h6 class="patient-text">Posted by a nurse</h6>
		{% elif file.staff_name.profile.is_doctor %}
			<h6 class="patient-text">Posted by a doctor</h6>
		{% endif %}

		<form method="POST" class="downloadFileBtn" action="{% url 'downloadFile' patient_id=patient.id file_id=file.id %}">
		    {% csrf_token %}
		    <button id="download-file" type="submit">Download</button>
		</form>
	</div>
  </div>
</article>
{% endfor %}

<h4>Comment:</h4>
{% for comment in comments %}
<article class="media content-section" id="{{ comment.id }}">
  <div class="media-body">
	<div class="article-metadata">
		<h5><b>Comment:</b></h5>
		<h6 class="patient-text">{{ comment }}</h6>
		<br>

		<h5><b>Staff Member:</b></h5>
		<h6 class="patient-text">{{ comment.staff_name }}</h6>
		<br>

		<h5><b>Date:</b></h5>
		<h6 class="patient-text">{{ comment.date_posted }}</h6>
		<br>

		<h5><b>Comment Opened:</b></h5>
		<h6 class="patient-text">{{ comment.opened }}</h6>
		<br>

		<h6><b>Doctor/Nurse?</b></h6>

		{% if comment.staff_name.profile.is_nurse %}
			<h6 class="patient-text">Posted by a nurse</h6>
		{% elif comment.staff_name.profile.is_doctor %}
			<h6 class="patient-text">Posted by a doctor</h6>
		{% endif %}
		{% if not comment.opened %}

			<form method="POST" class="markForm" action="{% url 'openPatientComment' patient_id=patient.id comment_id=comment.id %}">
				{% csrf_token %}
				<button id="mark-comment-open" type="submit">Mark as Open</button>
			</form>

		{% elif comment.opened %}
			<script>
				function changeColour () {
				var id = "{{ comment.id }}"
   					document.getElementById(id).style.backgroundColor = "#fcfb95";
				}
				changeColour();
			</script>
		{% endif %}

		<form method="POST" class="commentDeleteForm" action="{% url 'deletePatientComment' patient_id=patient.id comment_id=comment.id %}">
		    {% csrf_token %}
		    <button id="delete-btn" type="submit">Delete</button>
		</form>


	</div>
  </div>
</article>
{% endfor %}

{% endblock %}
