{% extends "docmypatient/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row" id="rowOne">
        <div class="col-md-6">
            <div class="container-fluid" id="leftPic">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
            </div>
        </div>
    </div>



<main role="main" class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="content-section">
            <h3>Options</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">New Patient</li>
                <li class="list-group-item list-group-item-light">Reports</li>
                <li class="list-group-item list-group-item-light">Update Family</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
{% endblock %}