{% extends "docmypatient/base.html" %}
{% load static %}
{% block content %}
    <h1>Comments</h1>
    {% for notes in comments %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ notes.nurse_name }}</a>
              <small class="text-muted">{{ notes.date_posted }}</small>
            </div>
            <p class="article-content">{{ notes.nurse_comment}}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
