body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, {
  color: #444444;

}

ul {
  margin: 0;

}

table {
    width: 1050px;
    border-radius: 35px;
}

.bg-steel {
  background-color: #1167b1;
}

.site-header .navbar-nav .nav-item .nav-link {
  color: white;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
}

#download-file {
    margin-top: 10px;
    font-family: "Tahoma, Geneva, sans-serif";
    font-size: 19px;
    padding: 8px 25px;
    background-color: white;
    border: 2.5px solid #cf30f2;
    border-radius: 40px;
    transition-duration: 0.4s;
    box-shadow: 5px 5px 5px;
}
#download-file:hover{
        background-color: #cf30f2;
        border: 2px solid #000000;
        color: white;

}
/* .container {
        width: 100%;
        margin-right: 160px;
        margin-left: 160px;
        height: 50px;
    }
*/
.container {
        height: 50px;
}


.btn-form {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

#add-patient-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 24px;
    background-color: white;
    border: 2px solid #0eb551;
    border-radius: 15px;
    transition-duration: 0.4s;
    box-shadow: 5px 4px 7px;

}

#add-patient-btn:hover {
    color: #ffffff;
    background-color: #0eb551;
    box-shadow: 5px 4px 7px;

}

.main-page-title {
      font-size: 34px;
      font-family: "Tahoma, Geneva, sans-serif";
      font weight: bold;
}

/* Adding patient page*/
.adding-form {
    font-size: 18px;
    font-family: "Tahoma, Geneva, sans-serif";
    display: inline;
}

.adding-form * {
      box-sizing: border-box;
      line-height: normal;
}

.add-patient-title {
        font-weight: 400;
        font-family: "Tahoma, Geneva, sans-serif";
}

.form-text {
        font-size: 16px;
        font-family: "Tahoma, Geneva, sans-serif";
}

.add-item {
        display: flex;
        flex-direction: column;
}
.add-item > * {
        align-self: flex-start;
}

.form-label {
        font-weight: 600;
        font-size: 20px;
        padding-top: 20px;

}

.form-input {
        width: 100%;
        max-width: 425px;
        font-size: 23px;
        border: 2px solid;
        border-color: #999696;
        border-radius: 6px;
        background-color: #f2f2f2;
        transition: background-color 0.25s, border-color 0.25s, color 0.25s;

}

.form-input:hover {
    background-color: #def3ff;
    border-color: #000000;
}

.form-input:focus {
        background: #ffffff;
}

.form-input::placeholder {
        color: #4f4d4d;
}

.adding-form-btn {
        font-size: 21px;
        padding: 13px 30px;
        margin: 40px 0;
        background-color: white;
        border: 2px solid #45b4f7;
        border-radius: 40px;
        transition-duration: 0.4s;
        box-shadow: 5px 4px 7px;
}
.adding-form-btn:hover {
    color: #ffffff;
    background-color: #45b4f7;
    box-shadow: 5px 4px 7px;
}

#submitBtn {
    display: inline-flex;
    margin-right: 16px;
    margin-left: 6px;
}


#delete-patient-btn {
    font-family: "Tahoma, Geneva, sans-serif";
    font-size: 21px;
    padding: 10px 25px;
    background-color: white;
    border: 2px solid #fc4242;
    border-radius: 40px;
    transition-duration: 0.4s;
    box-shadow: 5px 5px 5px;
}

#delete-patient-btn:hover {
    color: #ffffff;
    background-color: #fc4242;
}

/* Patient page CSS*/

.patient-detail-title {
        font-size: 32px;
        font-family: "Tahoma, Geneva, sans-serif";
        font-weight: 400;
}

table {
    width: 1050px;

}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
    font-size:20px;
    font-family: arial
}
tr:nth-child(even) {
  background-color: #dddddd;
}

#edit-btn {
        font-size: 17px;
        padding: 10px 20px;
        margin: 15px 0;
        font weight: 500;
        background-color: white;
        border: 3px solid #ffc30f;
        border-radius: 15px;
        transition-duration: 0.4s;
        box-shadow: 5px 5px 5px;

}

#edit-btn:hover {
    color: #ffffff;
    background-color: #fad311;
    color: black;
    font-weight: bold;
}

#commentData {
        width: 50%;
        line-height: 2;
        font-size: 21px;
        margin: 5px 0;
        border: 2px solid;
        border-color: #999696;
        border-radius: 7px;
        background-color: #f2f2f2;
        transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}

#comment-title{
        font-size: 21px;
        font-family: "Tahoma, Geneva, sans-serif";
        font-weight: 600;
}

h5 {
    font-size: 20px;
    font-family: "Tahoma, Geneva, sans-serif";
}

#patientTable {
    width: 1050px;
}

.patient-text {
    font-size: 19px;
    margin-right: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid lightgrey;
}

#staffPatientTable {
    width: 1050px;
    margin-bottom: 30px;
}

#commentData:hover {
    background-color: white;
    border-color: #000000;
}

#commentData::placeholder {
        color: #4f4d4d;
}

#comment-sub-btn {
        font-size: 18px;
        font-weight: 400
        background-color: #ffffff;
        border: 2.5px solid #09bd48 ;
        border-radius: 30px;
        margin: 16px 0;
        padding: 9px 18px;
        transition-duration: 0.4s;
        box-shadow: 5px 4px 7px;
}

#comment-sub-btn:hover {
    color: #ffffff;
    background-color: #0eb551;
    border: 2px solid #09bd48;
}

.sub-btn {
        font-size: 18px;
        font-weight: 400;
        background-color: white;
        border: 2.5px solid skyblue;
        border-radius: 30px;
        margin: 16px 0;
        padding: 9px 18px;
        transition-duration: 0.4s;
        box-shadow: 5px 4px 7px;

}

.sub-btn:hover {
    background-color: skyblue;
    border: 2px solid skyblue;
}


#patient-check {
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
        border-bottom: 2px solid green;
        margin-bottom: 18px;
}

#makeComment {
    display: inline;
    margin-right: 5px;

}

#nok-checkbox {
        cursor: pointer;
        padding: padding: 7px 17px;
}



/* Comments css*/
.commentDeleteForm {
    display: inline;
    margin-left: 10px;
}

#deleteForm {
    display: inline;
}

#mark-comment-open {
    font-size: 19px;
    font-family: "Tahoma, Geneva, sans-serif";
    margin-right: 5px;
    background-color: white;
    border: 2.5px solid #308bf2;
    border-radius: 35px;
    margin: 16px 0;
    padding: 7px 19px;
    transition-duration: 0.4s;
    box-shadow: 5px 4px 7px;
}

#mark-comment-open:hover{
    background-color: #308bf2;
    border: 2px solid #0f0f0f;
    color: white;
    font-family: "Tahoma, Geneva, sans-serif";


}

.markForm {
    display: inline;
}

#forPatient {
    margin: 6px;
}

#delete-btn {
    margin-right: 2px;
    font-size: 19px;
    font-family: "Tahoma, Geneva, sans-serif";
    background-color: white;
    border: 2.5px solid red;
    border-radius: 35px;
    margin: 16px 0;
    padding: 7px 19px;
    transition-duration: 0.4s;
    box-shadow: 5px 4px 7px;
}
#delete-btn:hover {
    background-color: red;
    border: 2px solid #0f0f0f;
    color: white;
    font-family: "Tahoma, Geneva, sans-serif";

}


/* BOOTSTRAP CSS */
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}